/* ESERCIZIO 1 */
.ex-1-square{
  transition: all 2s;
}

.ex-1-square:hover{
  background-color: red;
}

/* ESERCIZIO 2 */
.ex-2-square{
    transition: all 2s;
}

.ex-2-square:active {
  width: 100%;
}

/* ESERCIZIO 3 */
.ex-3-square{
    transition: all 1s;
}

.ex-3-square:hover{
    border-radius: 100%;
}

/* ESERCIZIO 4 */
.ex-4-square{
    transition: all 2s;
}

.ex-4-square:hover{
    background-color: transparent;
}

/* ESERCIZIO 5 */
.ex-5-square{
    transition: all 2s;
}

.ex-5-square:hover{
    height: 100px;
    width: 100px;
    margin: 0;
}

.ex-5-square:active{
    height: 30px;
    width: 30px;
    margin: 35px;
}

/* ESERCIZIO 6 */
.ex-6-img:hover{
    filter: grayscale(1);
}

/* ESERCIZIO 7 */
.ex-7-img{
    transition: all 2s;
}

.ex-7-img:hover{
  filter: sepia(0.5) grayscale(0.5); 
}

/* ESERCIZIO 8 */
.ex-8-img{
    transition: all 2s;
}

.ex-8-img:hover{
    border-radius: 20px;
    filter: sepia(0.5) grayscale(0.5);
}

/* ESERCIZIO 9 */
.ex-9-img{
  transition: 2s;
}

.ex-9-img:hover{ 
    border-radius: 20px;
    filter: sepia(0.5) grayscale(0.5);
    transform: scale(1.5);
}

/* ESERCIZIO 10 */
@keyframes gira-10 {
    0%{
        transform: rotate(1turn);
    }
}

.ex-10-icon {
    animation: gira-10 1s linear infinite;
}

/* ESERCIZIO 11 */
@keyframes gira-11{
    0%{ transform: rotate(0); }
    90%{ transform: rotate(270deg); }
    100%{ transform: rotate(0); }
}

.ex-11-icon:hover{
    animation: gira-11 2s linear ;
}

/* ESERCIZIO 12 */
@keyframes muovi-12-top{
    0%{ left: 10%;}
    75%{ left: calc(100% - 60px);}
    100%{left: 10%;}
}

@keyframes muovi-12-bottom{
    0%{ right: 10%;}
    75%{ right: calc(100% - 60px);}
    100%{right: 10%;}
}

.ex-12-button:hover .ex-12-top-white {
    animation: muovi-12-top 2s linear;
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: muovi-12-bottom 2s linear;
}